
node_modules
*.local
.vercel

package-lock.json

uploads

# Compiled JavaScript files
*.js
*.js.map
build/
dist/

# Logs
logs/
*.log

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local